.inputWrapper {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inputText {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px;
    border: none;
    border-bottom: 1px solid rgba(248, 238, 211, 0.2);;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    font: inherit;
    line-height: normal;
    cursor: text;
    color: rgba(248, 238, 211, 0.6);
}


.searchButton {
    right: 0;
    z-index: unset;
    color: rgba(248, 238, 211, 0.6);
    border-radius: 8px;
    border: 2px solid rgba(248, 238, 211, 0.2);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    background-color: none;
}